# Mostrar /public/ quando acessar /skateSpot/
DirectoryIndex public/index.html

Options -Indexes
RewriteEngine On

# Deixe a API passar direto
RewriteRule ^api/ - [L]

# Se o arquivo ou pasta existir (css/js/img), sirva direto
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Raiz -> /public/
RewriteRule ^$ public/ [L]

# Qualquer outra rota -> /public/<rota>
RewriteRule ^(.+)$ public/$1 [L,QSA]
