* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    background: #e7eef7;
    color: #e7eef7;
}

/* MENU FIXO CENTRALIZADO */
.floating-menu{
  position: fixed;
  top: .75rem;
  left: 50%;
  transform: translateX(-50%);
  width: min(92vw, 960px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  
}

.field.is-grouped {
    width: 100%;
    
}

.field.is-grouped button, p{
    /* border: solid black 1px; */
    box-shadow: 0 0px 1px rgb(0, 0, 0);
    border-radius: 5px;


}

/* “pílula” clara e sem fundo escuro no mobile */
/* .floating-menu{
    border-radius: 9999px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .12);
    padding: .10rem;
    background-color: #e7eef7;
} */

/* remove o painel drop-down padrão do Bulma */


/* distribui os botões igualmente */
/* .floating-menu .field.is-grouped {
    display: flex;
    gap: .5rem;
    width: 100%;
    margin: 0;
} */

/* .floating-menu .field.is-grouped .control {
    flex: 1 1 1;
} */

/* .floating-menu .field.is-grouped .button {
    width: 100%;
    justify-content: center;
    white-space: nowrap;
} */

.button{
    background-color: rgba(197,159,216) !important;
}

#map {
    height: calc(100vh);
    width: 100%;
}



.leaflet-control-attribution {
    font-size: 4px;
    padding: 2px 2px;
    background: rgba(255, 255, 255, .75);
    border-radius: 6px;
}

/* em telas bem pequenas, reduza mais ainda */
@media (max-width: 480px) {
    .leaflet-control-attribution {
        font-size: 3px;
        padding: calc(8px + env(safe-area-inset-bottom));
    }

        .leaflet-bottom {
            bottom: calc(115px + env(safe-area-inset-bottom));
        }
}

/* popup mais legível no tema escuro */
/* .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #10151b;
    color: #e7eef7;
    border: 1px solid #1b222c;
} */

/* .user-dot {
   
    
    box-shadow: 0 0 0 rgba(45, 212, 191, 0.7);
    animation: pulse 2s infinite;
} */

/* .popup-gallery {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 6px;
    margin-bottom: 8px;
    border-bottom: 1px solid #1b222c;
} */

/* .popup-gallery img {
    height: 120px;
    border-radius: 10px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    object-fit: cover;
    background: #0b0d10;
} */

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(45, 212, 191, 0.7);
    }

    70% {
        box-shadow: 0 0 0 18px rgba(45, 212, 191, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(45, 212, 191, 0);
    }
}